@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@100&display=swap');

*::selection{
    color: #571E1E;
    background-color: #B3B3B3;
}

h1{
    font-size: 40px;
    line-height: 2;
}

h1, .nocontent, p{
    color:#571E1E;
    background-color:#989898;
    font-family: 'Lexend Mega', sans-serif;
    padding: 5px;
}

.pagina{
    margin-top: -84px;
    display:flex;
    justify-content: end;

}

.nocontent, p.titulo1, p.titulo0{
    text-decoration: none;
    font-size: 20px;
    cursor:pointer;
}

.content{
    color:#571E1E;
    font-family: 'Lexend Mega', sans-serif;
    text-decoration: none;
    cursor:pointer;
    font-size: 10px;
}

p.contenido1, p.contenido0{
    cursor:pointer;
    font-size:10px;
}

.responsive{
    display:none;
}

header{
    margin-top: -30px;
    background-color: #989898;
}

.fa-bars{
    padding-left: 5px;
    color:#571E1E;
    font-size:50px;
}

.res{
    display: none;
    background-color: #989898;
    padding: 0; 
    border: none; 
    background: none;

}

a:hover,p:hover{
    color:#842828;
}

a:active, p:active{
    color:#940101;
}

img{
    padding: 20px;
    width: 400px;
    height: 500px;
    cursor:pointer;
}

section{
    position: relative;
    display: inline-block;
    text-align: center;
}

section p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 560%);
    
}

.cambio{
    width: 700px;
    height: 800px;
}

footer{
    background-color: #B3B3B3;
}

.foot{
    text-decoration: none;
    color:#571E1E;
    font-family: 'Lexend Mega', sans-serif;
    font-size: 16px;
    background-color: #989898;
    display:flex;
    flex-direction: column;
}

@media(max-width:1083px){
    .res{
        display:inline;
    }
    .pagina{
        display:none;
    }
    header{
        margin-top: 0px;
        background-color: #989898;
    }
}

